.forecast-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}


body:not(.dark-mode) {
  background: #f0f4f8;
  color: #000;
}

body.dark-mode {
  background: #1e1e1e;
  color: #fff;
}


.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-input {
  width: 280px;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

body.dark-mode .search-input {
  background: #333;
  border-color: #555;
  color: #fff;
}

.search-button {
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  width: 90px;
  font-size: 15px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}


.weather-card {
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  background: #f9fbff;
}

body.dark-mode .weather-card {
  background: #2c2c2c;
}

.weather-location {
  font-size: 26px;
  margin: 5px 0;
}

.weather-temp {
  font-size: 22px;
  margin: 5px 0;
}

.weather-desc {
  font-size: 16px;
  color: #555;
}

body.dark-mode .weather-desc {
  color: #ccc;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.stat-box {
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: transform 0.25s, opacity 0.25s;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.stat-box:hover {
  transform: translateY(-4px);
  opacity: 0.9;
}

.temp-box {
background: #197e8b; 
}

.humidity-box {
background: #197e8b;
}

.wind-box {
background: #197e8b;  
}

.visibility-box {
 background: #197e8b;  
}

.pressure-box {
  background: #197e8b;
 
}

.uv-box {
  background: #197e8b;
}


.btn {
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.btn-blue {
  background: #007bff;
}

.btn-blue:hover {
  background: #005adf;
}
