




.monthly-container {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 24px;
  height: 100vh;
}

.date-sidebar {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 100%;    
  overflow-y: auto;     
  flex-shrink: 0;
}

.date-btn {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: 0.2s;
}

.date-btn:hover {
  background: #f1f1f1;
}

.date-btn.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.month-navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-wrap: wrap; 
}

.month-btn {
  flex: 1;               
  padding: 8px 0;       
  margin: 0 2px;    
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 8px;
}

.month-btn.active {
  background-color: #ff7300;
  color: white;
}

.graph-section {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.graph-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.weather-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 32px 24px; 
  margin-top: 20px;
}

.weather-box {
  background: #f7f7f7;
  padding: 24px;              
  border-radius: 12px;         
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  min-height: 120px;          
  display: flex;
  flex-direction: column;
  justify-content: center;     
}

.weather-box h4 {
  font-size: 16px;            
  margin-bottom: 8px;
  color: #333;
}

.weather-box p {
  font-size: 20px;            
  font-weight: 600;
  color: #007bff;
}
